body {
  padding: 0;
  margin: 0;
  font-family: arial;
}

.home-page {
  .header {
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      white-space: nowrap;
    }
    .button {
      font-weight: bold;
      font-size: 18px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: #000;
    }
  }
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  margin: auto;
  gap: 20px;
  input {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
  }
}

.opacity {
  opacity: 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}

.card-component {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  padding: 15px;
  height: 300px;
  position: relative;
  .edit {
    position: absolute;
    right: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  .delete {
    @extend .edit;
    left: 20px;
    right: auto;
  }
  .title {
  }
  .description {
    p {
      font-weight: bold;
    }
  }
  ul {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    li {
      line-height: 30px;
    }
  }
}

.button {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 15px;
  width: 70%;
  border-radius: 15px;
  cursor: pointer;
}
